*{
    margin:0px;
    padding: 0px;
    
}
.menu{
    background-color:rgb(247, 206, 171);
    height:120px;
    display:block;
    opacity: 1;
    z-index: 1;
   
   
}

.l_menu{
    width:70%;  
    line-height:120px;
    float: left;
}
.l_menu h3{
    font-size: 40px; 
    font-family: Kristen ITC;
    color: rgb(226, 61, 61);
    margin-top: -100px;
    margin-left: 180px;
  
}

h3:hover{
    font-size: 45px;
    transition: 1s;
}
.logo img{
    margin-top: 25px; 
    height: 80px;
    width:80px;
    margin-left: 85px;
    animation: spin 2s linear infinite;
}
img:hover{
   
     height: 85px;
     width:85px;
     transition :0.5s
}
@keyframes spin{
    10%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(-20deg);
    }
    80%{
        transform: rotate(20deg);
    }
     }
}

.r_menu{
    width:30%;
    float:right;
    height: 100%;
}
.SignUp_logo img{
    height: 100px;
    width:90px;
    float: right;
    color:rgb(247, 206, 171) ;
    margin-top: -100px;
    margin-right: 165px;

}
.Login_logo img{
    height: 110px;
    width:90px;
    float: left; 
    background-color: rgb(247, 206, 171);
    margin-top: -105px;
    margin-left: -57px;
    
}


.button1{
   
     text-decoration: none; 
    height:50px;
    width:120px;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(226, 61, 61);
    border: 3px solid rgb(226, 61, 61);
    float:right;
    margin-right: 310px;
    margin-top: -70px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    position: relative;

}
.button2{
    
    border: 3px solid rgb(226, 61, 61);
     height:50px;
     width:120px;
     font-size: 20px;
     font-weight: bolder;
     color: rgb(226, 61, 61);
     text-decoration: none; 
     float:right;
     margin-right: 50px;
     margin-top: -70px;
     border-radius: 20px;
     cursor: pointer;
     overflow: hidden;
     z-index: 2;
     position: relative;
    
     
 }
.button1::before{
    content: "";
    width: 100%;
    height: 120%;
    position: absolute;
    background-color:rgb(226, 61, 61) ;
    left: 0;
    top:-100%;
    z-index: -1;
    transition: 1s;
    border-radius: 0 0 30% 30%;
}
.button1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgb(226, 61, 61) ;
    left: 0;
    top:-100%;
    z-index: -1;
    transition: 0.3s;
}

.button2::before{
    content: "";
    width: 100%;
    height: 120%;
    position: absolute;
    background-color:rgb(226, 61, 61) ;
    left: 0;
    top:-100%;
    z-index: -1;
    transition: 1s;
    border-radius: 0 0 30% 30%;
}
.button2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgb(226, 61, 61) ;
    left: 0;
    top:-100%;
    z-index: -1;
    transition: 0.3s;
}
.button1:hover,.button2:hover{
    color:#ffff;
    font-size: 24px;
    transition: 0.8s;
    
}
.button1:hover::after,.button2:hover::after{
    top:-5px;
}
.sidebar{
    margin-top: -20px;
    top:20px;
    position: fixed;
    left:-250px;
    width: 250px;
    height: 100%;
    background-color: rgb(129, 187, 235);
    transition: all 0.7s ease;
    opacity: 1;
}
.sidebar header{
    
    font-size: 30px;
    font-family: Kristen ITC;
    font-weight: bolder;
    color: rgb(124, 13, 134);
    text-align: center;
    line-height: 70px;
    background-color: rgb(157, 217, 221);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 22px;
    color:rgb(246, 243, 247);
    text-decoration: none;
    padding-left: 40px;
    
    font-family: Arial Rounded MT;
    box-sizing: border-box;
    border-top: 1px solid rgb(157, 217, 221);
    border-bottom: 1px solid rgb(241, 130, 245);
    
}
ul li:hover{
    padding-left: 41px;
    font-size: 26px;
    transition: 0.7s;
}
.sidebar ul li a i{
    margin-left: 14px;
}
#check{
    display: none ;
}
label #btn,label #cancel{
    position:absolute;
    cursor: pointer;
}
label #btn{
    left: 30px;
    top:40px;
    font-size: 35px;
    color:rgb(226, 61, 61);
    transition: all 0.5s ease;
}
label #cancel{
    z-index: 1111;
    left:-210px;
    top:17px;
    font-size: 30px;
    color:white;
    transition: all 0.5s ease;
}
#check:checked~.sidebar{
    left:0px;
}
#check:checked~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked~ label #cancel{
    left:210px;
}
#check:checked~section menu{
    margin-left: 250px;
}
section{
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5 ease;
}
#check:checked~.menu{
    text-decoration: none; 
    height:50px;
    width:120px;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(226, 61, 61);
    border: 3px solid rgb(226, 61, 61);
    float:right;
    margin-right: 310px;
    margin-top: -70px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.sidebar{
    position: relative;
}
